# Google Sheets API key (обязательно)
GOOGLE_API=your-google-api-key

# ID Google Spreadsheet (обязательно)
# Создайте таблицу, названия листов = именам CSV-файлов
GOOGLE_SPREADSHEET_ID=your-spreadsheet-id

# Создайте импортируйте таблицу как google sheet
GOOGLE_SCHEDULE_ID=your-shedule-sheet-id